:root {
    font-family: sans-serif;
}
body {
    display: block;
    margin: 0;
    padding: 1 rem;
}

header {
    display: flex;
    margin: 0;
    padding: 1 rem;
    justify-content: center;
    background-color: rgba(37, 242, 34, 0.5);
}

h1 {
    color: #d15812;
    font-size: 4rem;
    }

p {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    color: #192127;
    font-size: 2rem;
}

footer {
    margin-top: 300px;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    color: grey;
}
footer a {
    text-decoration: none;
    color: inherit
}